@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Eagle+Lake&display=swap');
@import "tailwindcss";

:root {
  --bg: #516356;
  --surface: #032b05;
  --text: #d8fbd9;
  --muted: #a3afa0;
  --accent: #eb1519;
  --accent-hover: #b90f12;
  --accent-text: #000000;
  --bordercolor: #20650b;

  --overlay: rgba(0, 0, 0, 0.6);
  --overlay-hover: rgba(0, 0, 0, 0.8);

  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  
  --shadow-sm: 0 4px 12px rgba(11,15,25,0.06);
  --shadow-md: 0 12px 30px rgba(11,15,25,0.12);
  --shadow-lg: 0 30px 80px rgba(11,15,25,0.18);
  
  --font-main: "Eagle Lake", serif;
  --font-heading: "Cinzel", serif;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-main);
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.tag {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;
  background: rgba(251, 146, 60, 0.1);
  color: var(--accent);
  border: 2px solid rgba(251, 146, 60, 0.2);
  border-radius: 999px;
  font-weight: 500;
}